*,cover
*.egg-info
*.log
*.pyc
*.pyd
*.pyo
.Python
.cache
.cloudstorage
.coverage
.coverage.*
.editorconfig
.git
.pytest_cache
.tox
.vscode
__pycache__
coverage.xml
env
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
requirements-dev.txt
venv
